In [1]:
import pandas as pd
import kagglehub

In [3]:
# Download latest version
path = kagglehub.dataset_download("jishnukoliyadan/breaking-bad-network-analysis")

print("Path to dataset files:", path)

Downloading to C:\Users\Arsalan\.cache\kagglehub\datasets\jishnukoliyadan\breaking-bad-network-analysis\1.archive...

100%|██████████| 145k/145k [00:00<00:00, 310kB/s]

Extracting files...
Path to dataset files: C:\Users\Arsalan\.cache\kagglehub\datasets\jishnukoliyadan\breaking-bad-network-analysis\versions\1

In [7]:
characters_df = pd.read_csv("C:\\Users\\Arsalan\\.cache\\kagglehub\\datasets\\jishnukoliyadan\\breaking-bad-network-analysis\\versions\\1\\character_df.csv")
characters_df_cleaned = pd.read_csv("C:\\Users\\Arsalan\\.cache\\kagglehub\\datasets\\jishnukoliyadan\\breaking-bad-network-analysis\\versions\\1\\character_df_cleaned.csv")

In [6]:
characters_df.head(15)

      Season                            Characters
0   Season_1        Bryan Cranston as Walter White
1   Season_1             Anna Gunn as Skyler White
2   Season_1           Aaron Paul as Jesse Pinkman
3   Season_1          Dean Norris as Hank Schrader
4   Season_1        Betsy Brandt as Marie Schrader
5   Season_1          RJ Mitte as Walter White Jr.
6   Season_1              Max Arciniega as Krazy-8
7   Season_1                 John Koyama as Emilio
8   Season_1       Steven Michael Quezada as Gomez
9   Season_1                 Marius Stan as Bogdan
10  Season_1                    Aaron Hill as Jock
11  Season_1             Greg Chase as Dr. Belknap
12  Season_1               Carmen Serano as Carmen
13  Season_1                  Evan Bobrick as Chad
14  Season_1  Roberta Marquez as Chad's Girlfriend

In [8]:
characters_df_cleaned.head(15)

      Season         Characters
0   Season_1       Walter White
1   Season_1       Skyler White
2   Season_1      Jesse Pinkman
3   Season_1      Hank Schrader
4   Season_1     Marie Schrader
5   Season_1   Walter White Jr.
6   Season_1            Krazy-8
7   Season_1             Emilio
8   Season_1              Gomez
9   Season_1             Bogdan
10  Season_1               Jock
11  Season_1        Dr. Belknap
12  Season_1             Carmen
13  Season_1               Chad
14  Season_1  Chad's Girlfriend