In [1]:
import pandas as pd
import kagglehub

In [2]:
# Download latest version
path = kagglehub.dataset_download("mylesoneill/game-of-thrones")

print("Path to dataset files:", path)

Downloading to C:\Users\Arsalan\.cache\kagglehub\datasets\mylesoneill\game-of-thrones\1.archive...

100%|██████████| 66.1k/66.1k [00:00<00:00, 208kB/s]

Extracting files...
Path to dataset files: C:\Users\Arsalan\.cache\kagglehub\datasets\mylesoneill\game-of-thrones\versions\1

In [3]:
battles = pd.read_csv("C:\\Users\\Arsalan\\.cache\\kagglehub\\datasets\\mylesoneill\\game-of-thrones\\versions\\1\\battles.csv")
character_deaths = pd.read_csv("C:\\Users\\Arsalan\\.cache\\kagglehub\\datasets\\mylesoneill\\game-of-thrones\\versions\\1\\character-deaths.csv")
character_predictions = pd.read_csv("C:\\Users\\Arsalan\\.cache\\kagglehub\\datasets\\mylesoneill\\game-of-thrones\\versions\\1\\character-predictions.csv")

In [4]:
character_predictions.head(15)

,S.No,actual,pred,alive,plod,name,title,male,culture,dateOfBirth,...,isAliveHeir,isAliveSpouse,isMarried,isNoble,age,numDeadRelations,boolDeadRelations,isPopular,popularity,isAlive
0,1,0,0,0.054,0.946,Viserys II Targaryen,NaN,1,NaN,NaN,...,0.0,NaN,0,0,NaN,11,1,1,0.605351,0
1,2,1,0,0.387,0.613,Walder Frey,Lord of the Crossing,1,Rivermen,208.0,...,NaN,1.0,1,1,97.0,1,1,1,0.896321,1
2,3,1,0,0.493,0.507,Addison Hill,Ser,1,NaN,NaN,...,NaN,NaN,0,1,NaN,0,0,0,0.267559,1
3,4,0,0,0.076,0.924,Aemma Arryn,Queen,0,NaN,82.0,...,NaN,0.0,1,1,23.0,0,0,0,0.183946,0
4,5,1,1,0.617,0.383,Sylva Santagar,Greenstone,0,Dornish,276.0,...,NaN,1.0,1,1,29.0,0,0,0,0.043478,1
5,6,1,0,0.021,0.979,Tommen Baratheon,NaN,1,NaN,NaN,...,1.0,NaN,0,0,NaN,5,1,1,1.000000,1
6,7,0,0,0.014,0.986,Valarr Targaryen,Hand of the King,1,Valyrian,183.0,...,NaN,1.0,1,1,26.0,0,0,1,0.431438,0
7,8,0,0,0.036,0.964,Viserys I Targaryen,NaN,1,NaN,NaN,...,1.0,NaN,0,0,NaN,5,1,1,0.678930,0
8,9,0,1,0.724,0.276,Wilbert,Ser,1,NaN,NaN,...,NaN,NaN,0,1,NaN,0,0,0,0.006689,0
9,10,1,0,0.391,0.609,Wilbert Osgrey,Ser,1,NaN,NaN,...,NaN,NaN,0,1,NaN,0,0,0,0.020067,1
10,11,0,0,0.167,0.833,Will,NaN,1,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.163880,0
11,12,1,1,0.985,0.015,Will (orphan),NaN,0,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.003344,1
12,13,1,1,0.813,0.187,Will (squire),NaN,1,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.003344,1
13,14,1,1,0.747,0.253,Will (Standfast),NaN,0,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.003344,1
14,15,1,1,0.705,0.295,Will (Treb),NaN,1,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.003344,1